body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main-bg{
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
header{
    padding-top: 30px;
}
.head-title{
text-align: center;
/* margin-top: 50px; */

/* font-family: 'Lora', serif; */
font-family: 'Yeseva One', cursive;
font-size: x-large;
color: rgb(121, 107, 32);
}

#head-title-1{
    margin: 0;
    /* margin-bottom: 0; */
    background: -webkit-linear-gradient(rgb(255, 217, 0), rgb(136, 135, 135));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#head-title-2{
margin-top: 0;
font-size: small
}

.front-page-style{
    margin-top: 150px;
    display: flex;
}

#name{
    color: orange;
    font-weight: bold;
    font-size: xx-large;
}

.social-media{
    font-size: large;
    padding-top: 5px;
    width: 25%;
    text-align: center;
    margin-top: 50px;
}

#social-media-head{
margin-bottom: 0%;
}

#social-media-icon{
margin-top: 10px;
}

.left-side{
width: 50%;
margin-top: 80px;
margin-left: 100px;
}

.right-side{
    width: 50%;
    margin-right: 0%;
    text-align: center;
    padding: 20px;
}

.gallery{
text-align: center;
color: white;
padding-top: 20px;
background-color: black;
}
.gallery-title{
    /* font-family: 'Lora', serif; */
font-size: 30px;
}
.gallery-image{
padding-bottom: 50px;
}
.img-fst-raw{
}
.img-sec-raw{

}
.img-last-raw{

}