body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main-bg{
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
header{
    padding-top: 30px;
}
.head-title{
text-align: center;
/* margin-top: 50px; */

/* font-family: 'Lora', serif; */
font-family: 'Yeseva One', cursive;
font-size: x-large;
color: rgb(121, 107, 32);
}

#head-title-1{
    margin: 0;
    /* margin-bottom: 0; */
    background: -webkit-linear-gradient(rgb(255, 217, 0), rgb(136, 135, 135));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#head-title-2{
margin-top: 0;
font-size: small
}

.front-page-style{
    margin-top: 150px;
    display: flex;
}

#name{
    color: orange;
    font-weight: bold;
    font-size: xx-large;
}

.social-media{
    font-size: large;
    padding-top: 5px;
    width: 25%;
    text-align: center;
    margin-top: 50px;
}

#social-media-head{
margin-bottom: 0%;
}

#social-media-icon{
margin-top: 10px;
}

.left-side{
width: 50%;
margin-top: 80px;
margin-left: 100px;
}

.right-side{
    width: 50%;
    margin-right: 0%;
    text-align: center;
    padding: 20px;
}

.gallery{
text-align: center;
color: white;
padding-top: 25px;
background-color: black;
}
.gallery-title{
font-size: 30px;
}
.gallery-image{
padding-bottom: 50px;
}
.img-fst-raw{
    padding-bottom: 2px;
}
.img-sec-raw{
    padding-bottom: 2px;
}
.img-last-raw{

}
.last-page{
    display: flex;
    margin:  180px 120px 200px 80px;
}
.support-section{
    width: 30%;
    margin-right: 250px;
    padding: 50px;
    text-align: center;
    
}
.contact-section{
    text-align: center;
    margin-left: 100px;
}
#messege-me{
    font-size: 40px;
}
.contact-box{
padding:  10px 50px 20px 50px;
}
.contact-box input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 25px;
    font-weight: 500;
}
textarea{
    text-align: center;
    display: block;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px 50px;
    font-size: 20px;
    border: none;
    text-align: center;
}
.btn:hover{
    background-color: red;
    cursor: pointer;
}